[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy="==0.812"
black="==21.5b1"
pylint="==2.8.2"
rope="==0.19.0"

[packages]

[requires]
python_version = "3.9"
